START_CASH: 1000000
ORDER_SIZE: 100
STAMP_DUTY: 0.005
COMMISSION: 0.0005
SELL_COMMISSION_RATE: 0.0015
MINIMUM_COMMISSION: 5

START_DATE: 2015-06-01
END_DATE: 2022-05-31

CHART: False
REPORT_DIR: D:\\financial\\backtesting\\report
DATA_DIR: D:\\financial\\backtesting\\data

CHEAT_ON_OPEN: True
TRADE_HISTORY: True
RUN_ONCE: True

STRATEGIES: {
  SMACrossStrategy: backtesting.strategy.sma_cross,
  PriceSMACrossStrategy: backtesting.strategy.price_sma_cross,
}

SMA CROSS STRATEGY PARAMETERS: {
  OPTIMIZATION: True,
  FAST_PERIOD: {
    MINIMUN: 5,
    MAXIMIUM: 20,
    STEP: 5
  },
  SLOW_PERIOD: {
    MINIMUN: 50,
    MAXIMIUM: 200,
    STEP: 50
  }
}

PRICE SMA CROSS STRATEGY PARAMETERS: {
  OPTIMIZATION: True,
  PERIOD: {
    MINIMUN: 10,
    MAXIMIUM: 200,
    STEP: 10
  },
}

